body
{
    font-family: sans-serif;
    box-sizing: border-box;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
    
}

.home
{    position: relative;

     width: 100%;
    background-image:url(image/1.jpg);
    background-size: 100% 100%;
}
.nav
{
    width: 100%;
    height: 70px;
    position:fixed;
    top: :0px;
    left: 0px;
   float: left;
  text-decoration: none;
   background-color: rgba(0,0,0,0.4);
   

overflow: hidden;
}
.nav1
{
 
   position: absolute;
 top: 0;
    left: 0;
}
.home .trans
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.nav ul
{
    list-style-type: none;
    padding-left:0;
    margin-left: 60%;
 
}
.nav ul li
{
    padding: 10px;
    float: left;
    padding-top: 20px;
    
}
.nav ul li a
{
 
    font-size: 18px;
    text-decoration: none;
    color: white;
    display: block;  
    cursor: pointer; 

}
.nav1 a
{
    font-size: 38px;
    text-decoration: none;
    color: white;
    cursor: pointer; 
font-family: 'Sigmar One', cursive;
     text-align: left;
}
.home .caption
{
    color: rgba(255,255,255,.92);
    text-align: center;
    padding-top: 110px;
    font-family:inherit;
    line-height: 1.2;
}

.caption p
{
    font-size:28px;;
    padding-top: 10px;
    margin: auto;
    color: #fff;
  padding-left: 180px;


}
.caption h
{
    font-size: 75px;
    font-weight: 400;
    padding-left: 180px;
    color: #fff;
    font-family: 'Shrikhand', cursive;
}
/* about me--*/

.about
{
    width:100%;
    padding-top: 90px;
    padding-bottom: 80px;
    box-sizing: border-box;
  

}

.about_me
{
    width: 50%;
    float: left;
    padding: 10px;
}
.about_me h2
{
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.about_me h4
{
    padding-bottom: 20px;
}

.about_me p
{
    font-size: 16px;
    line-height: 1.65;
    color: #748182;
    line-height: 28px;
    
}
.about_me img
{
    width:90%;
    box-shadow: 5px 5px 30px gray;
    margin-left: 50px;
    border-radius: 98%;
    transition: all 1s;
}
.about_me img:hover
{
     border-radius: 0;
}
.btn 
{
    margin-top: 30px;
    margin-left: 50px;
    background-color: #222;
    border: 2px solid black;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
}
.btn:hover 
{
    background-color: white;
    color: black;
}
.clt {
    clear: both;
}
/* -----service section----------*/
.services
{    font-size: 16px;
    line-height: 1.65;
    color: #748182;
    background-color: #f2f2f2;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;

}
.icon

{
    color: #222;
    display: inline-block;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 38px;
    font-size: 30px;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    transition: .5s all ease;
}
 .services:hover .icon {
    box-shadow: 4px 10px #e3e3e3;
    border-color: #f2f2f2;
}


.services h6,h4
{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.services h4
{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase; } 


.services h
{   font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
    color: #222
}
.txt-ser
{
    width:100%;
    box-sizing: border-box;
}

.pa1
{
    float: left;
    width:30%;
    margin: 10px;
}

.pag1
{
    clear: both;
}
.pa2
{
    padding-top: 20px;
    float: left;
    width:30%;
    margin: 10px;
    padding-bottom: 20px;
}

.pag2
{
    clear: both;
}




/*--attach---*/
.conta
{
box-sizing: border-box;
        height: 355px;
background-image: url(image/stat.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}
.c1
{
    padding-top: 100px;
    float: left;
    width: 23%;    
    color:white;   
    color: #fff;
    font-weight: 400;
    font-size: 25;
    
}
 
.clea
{
    clear: both;
}


/*--portfolio---*/

.PORTFOLIO
{
    width: 100%;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    }

.PORTFOLIO h6,h4
{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.PORTFOLIO h4
{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase; } 

 .portfolio-filter ul li {
    display: inline-block;
    font-size: 14px;
    margin-right: 20px;
    color: #222;
    position: relative;
    font-family: san-serif;
    cursor: pointer;
    text-transform: uppercase; }
.pho
{
    clear: both;
}

.PORTFOLIO .photos
{
width:100%;  
      overflow: hidden;
}

.photos img
{
    width:30%;
     float:left;
    margin: 10px;
    margin-top: 20px;
    transition: all 2s;
    text-align: center;
    box-sizing:border-box;
      
}

.photos img:hover
{
 
    transform: scale(1.1,1.1);

}
.phos
{
    clear: both;
}


/*--contact---*/

.contact
{
    width: 100%;
    padding-bottom: 30px;
    padding-top: 20px;
        background-color: #f2f2f2;

}



.contact h6,h4
{
    color: #222;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
     text-align: center;
}
.contact h4
{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase; } 
.dat
{
    padding-top: 30px;

}
.form-control_con-validate1
{
width:40%;;
float: left;
    margin: 10px;
    box-sizing: border-box;
    
     
}

.frm
{
    clear: both;
}    

.col-md-12_form-group
{
    padding-left:10px;
    padding-bottom: 20px;
}

.col-md-12_text-center
{
    text-align: center;
     
}
.col-md-12_text-center .mt-30_main-btn
{
 
    margin-top: 20px;
    background-color: #222;
    border: 2px solid black;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    
}
.mt-30_main-btn:hover 
{
    background-color: white;
    color: black;

}

/*--footer---*/
.container
{
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
    background-color: #222;
    color: #fff;
    padding-bottom: 100px;
  
    
}

.container .t1
{
    width: 25%;
    float: left;
text-align: center;
    position: relative;
    padding-bottom: 20px;
}

.container .t1 h5
{
    font-size: 16px;
    font-weight: 700;
    line-height: 2.2;
}

.lin
{
    width:80%;
    margin: auto;
      border-top: 1px solid #fff;
  
    
    
}
.copyrights
{
    padding-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
}